#home-page {
  .hint-text {
    margin: 12px 0 -8px 0;
    font-size: 1em;
  }
  .search-wrapper {
    padding-bottom: 16px;
    border-bottom: 1px solid $grey-2;
    overflow: hidden;
  }

  a.add-new-person {
    margin-top: 2px;
    max-width: 40% !important;

    @media screen and (max-width: 320px) {
      float: none;
      display: block;
      margin-bottom: 0.4em;
    }

  }
  p {
    max-width: 37em;
    font-size: 19px;
    line-height: 24px;
  }
  h1, h2 {
    border-bottom: none;
  }



  h1{
    margin-bottom: 0;
    margin-top: 15px;
  }

  .help-peoplefinder {
    float: right;

    p {
      background: #ededed image-url('icon_info.png') scroll no-repeat 15px 20px;
      padding: 20px 15px 20px 80px;
      margin-top: 15px;

      @media screen and (min-width: 640px) {
        margin-left: 50px;
      }
    }
  }

  .leader-profile {
    float:left;
    margin-right:20px;
    margin-bottom:10px
  }

  .leader-profile {
    min-height: 300px;
    max-width:217px;
    .leader-background {
      height: 217px;
    }
    @include maginot(217px, 217px);
  }


  .root-team {
    overflow: hidden;

    .leaders {
      .leader-name, .leader-role {
        display: block;
      }

      .leader-name {
        font-weight: bold;
      }
    }

    .about-team-header {
      margin-top: 0;
      padding-top: 0;
    }
  }

  .root-subteams {
    h2 {
      border-bottom: 1px solid $grey-2;
    }
  }
}
